<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="todolist.css">
    <title>No1. todolist</title>
</head>
<body>
    <div id="app">
        <div class="bg-blue">
            <ul class="nav container justify-content-between todo-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#" @click="currentTab = 'all'" :class="{active: currentTab == 'all'}">My Tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" @click="currentTab = 'progress'" :class="{active: currentTab == 'progress'}">in Progress</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" @click="currentTab = 'completed'" :class="{active: currentTab == 'completed'}">Completed</a>
                </li>
            </ul>  
        </div>
        <section class="container mt-4">
            <div class="add-todo" v-if="!isAddNewTodo" @click="isAddNewTodo=true">
                <label>
                    <i class="fas fa-plus"></i>
                </label>
                <input type="text" placeholder="Add Task" class="form-control form-control-lg">
            </div>
            <edit-todo @update-todo="addNewTodo" @close-edit-todo="isAddNewTodo=false" v-if="isAddNewTodo" :id="idCount"></edit-todo>
        </section>
        <section class="container mt-4">
            <template v-for="todo in filterTodos">
                <todo-item :key="todo.id" :todo="todo" @update-todo="updateTodo" @edit-todo="currentEdit = todo.id" v-if="currentEdit != todo.id"></todo-item>
                <edit-todo :key="todo.id" :todo="todo" @update-todo="updateTodo" @close-edit-todo="currentEdit = -1" v-if="currentEdit == todo.id"></edit-todo>            
            </template>
            <div class="showCount" v-if="todosCount!=0">{{ todosCount }} tasks</div>
        </section>
    </div>
   
    <script type="text/x-template" id="edit-todo">
        <div>
            <div class="new-todo">
                <div class="new-todo-header">
                    <input type="text" placeholder="Type Something Here..." class="form-control" v-model="cacheTitle">
                </div>
                <div class="new-todo-body">
                    <div class="new-todo-row">
                        <div class="new-todo-icon">
                            <i class="far fa-calendar-alt"></i>
                        </div>
                        <div class="new-todo-form">
                            <label for="">
                                Deadline
                            </label>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="date" class="form-control border-0" v-model="cacheDate">
                                </div>
                                <!-- <div class="col-sm-6">
                                    <input type="text" placeholder="yyyy/mm/dd" class="form-control border-0">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="hh:mm" class="form-control border-0">
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <!-- <div class="new-todo-row">
                        <div class="new-todo-icon">
                            <i class="far fa-file"></i>
                        </div>
                        <div class="new-todo-form">
                            <label>
                                File
                            </label>
                            <div>
                                <button class="upload-file"><i class="fas fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="new-todo-row">
                        <div class="new-todo-icon">
                            <i class="far fa-comment-dots"></i>
                        </div>
                        <div class="new-todo-form">
                            <label for="">
                                Comment
                            </label>
                            <div>
                                <textarea class="form-control" rows="4" placeholder="Type your memo here..."></textarea>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="new-todo-footer">
                    <button class="cancel border-0" @click="closeEdit"><i class="fas fa-times"></i> Cancel</button>
                    <button class="send border-0" @click.prevent="updateTodo"><i class="fas fa-plus"></i> Add Task</button>
                </div>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="todo-item">
        <div>
            <div class="todo-item" :class="{ 'stared': todo.isStared }">
                <div class="todo-header">
                    <div class="todo-checkbox">
                        <input type="checkbox" :id="`todo-checkbox-${todo.id}`" v-model="todo.isCompleted" @change="updateTodo('isCompleted', todo.isCompleted)">
                        <label :for="`todo-checkbox-${todo.id}`"></label>
                    </div>
                    <div class="todo-title" :class="{ 'completed': todo.isCompleted }">                   
                        {{ todo.title }}
                    </div>
                    <div class="todo-option">
                        <a href="#" @click.prevent="updateTodo('isStared', !todo.isStared)">
                            <i class="far fa-star" v-if="!todo.isStared"></i>
                            <i class="fas fa-star" v-if="todo.isStared"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-pencil-alt" @click.prevent="editTodo"></i>
                        </a>
                    </div>
                </div>
                <div class="todo-body">
                    <span v-if="todo.date!=null">
                        <i class="far fa-calendar-alt"></i>
                        {{ todo.date }}
                    </span>
                    <!-- <span>
                        <i class="far fa-file"></i>
                    </span>
                    <span>
                        <i class="far fa-comment-dots"></i>
                    </span> -->
                </div>
            </div>
        </div>
    </script>

    <script>
        Vue.component('editTodo',{
            template: '#edit-todo',
            props: {
                todo: {
                    default: function () {
                        return {
                            title: null,
                            date: null,
                            isCompleted: false,
                            isStared: false
                        }
                    }
                },
                id: Number
            },
            data() {
                return {
                    cacheTitle: this.todo.title,
                    cacheDate: this.todo.date
                }
            },
            methods: {
                // 發送 update-todo 的事件
                updateTodo() {
                    const newTodo = {
                        ...this.todo
                    };
                    newTodo['title'] = this.cacheTitle;
                    newTodo['date'] = this.cacheDate;
                    if(this.id != undefined){
                        newTodo['id'] = this.id;
                    }
                    this.$emit('update-todo', newTodo);
                    this.closeEdit();
                },
                // 發送 close-edit-todo 的事件
                closeEdit() {
                    this.$emit('close-edit-todo');
                }
            }
        });
        Vue.component('todoItem', {
            template: '#todo-item',
            props: ['todo'],
            methods: {
                // 發送 update-todo 的事件
                updateTodo(field, state) {
                    const todo = {
                        ...this.todo
                    };
                    todo[field] = state;
                    this.$emit('update-todo', todo);
                },
                // 發送 edit-todo 的事件
                editTodo() {
                    this.$emit('edit-todo');
                }
            }
        });
        var app = new Vue({
            el: '#app',
            data: {
                todos: [],
                idCount: 0,
                isAddNewTodo: false,
                currentEdit: -1,
                currentTab: 'all'
            },
            computed: {
                // 計算 filterTodo 的長度
                todosCount() {
                    return this.filterTodos.length;
                },
                // 依條件過濾 todos
                filterTodos() {
                    if(this.currentTab == 'all'){
                        return this.todos;
                    }else if(this.currentTab == 'progress'){
                        return this.todos.filter(function(item){
                            return item.isCompleted==false;
                        });
                    }else if(this.currentTab == 'completed'){
                        return this.todos.filter(function(item) {
                            return item.isCompleted == true;
                        });
                    }
                }
            },
            methods: {
                // 新增 todo 進 todos
                addNewTodo(newTodo) {
                    this.todos.push(newTodo);
                    this.idCount++;
                },
                // 更新 todo
                updateTodo(todo) {
                    this.todos.forEach(function(item){
                        if(item.id == todo.id){
                            item.title = todo.title;
                            item.date = todo.date;
                            item.isCompleted = todo.isCompleted;
                            item.isStared = todo.isStared;
                        }
                    });
                }
            }
        });
    </script>
</body>
</html>