@import 'normalize';
@import 'variables';
@import 'utility';
@import 'transition';

*{
    outline: none;
}

html, body {
    font-family: 'Roboto';
    background-color: $gray;
}

#app {
    min-height: 320px;
    width: 100%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    @extend %clearGutter;
}

a {
    text-decoration: none;
    color: $black;
}

ul {
    @extend %clearGutter;
    list-style: none;
}